# Core functionality - changes here should be rare!
/src/app.py                   @meznahsaldin
/src/backend/database.py      @meznahsaldin
/src/backend/routers/auth.py  @meznahsaldin

# The frontend will need refactored soon to be more object oriented.
/src/static/   @meznahsaldin
